alembic
annotated-types
anyio
click
fastapi
pydantic-settings
FastAPI-SQLAlchemy
h11
idna
Mako
MarkupSafe
psycopg2-binary
pydantic
pydantic-settings
pydantic_core
python-dotenv
sniffio
SQLAlchemy
starlette
typing_extensions
uvicorn
black
faker
pytest
pytest-cov
httpx
requests